body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-create {
  background-color: rgb(19, 104, 206);
  color: #fff;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 25%) 0px -4px inset;
}

/* .btn-create:hover {
  background-color: rgb(18, 96, 190);
  box-shadow: rgb(0 0 0 / 25%) 0px -2px inset;
  color: #fff;
} */

.dropdown-toggle::after {
  content: none !important;
}
